@font-face {
	font-family: "Baskerville Book BQ Regular";
	src:
		url('Baskerville Book BQ Regular.otf') format('opentype');
}

:root {
	--transition-1: all 0.3s ease-in-out;
	--transition-2: all 0.2s ease-in-out;
}

html {
	font-size: 3rem;
	font-family: "Baskerville Book BQ Regular";
	overflow-x: hidden;
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	height: 100vh;
}

.header {
	text-align: center;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
}

.no_result {
	margin: 0.3rem;
	padding: 0.3rem 0.5rem;
	list-style: none;
	text-align: left;
	font-size: 1rem;
	color: #212121;
	transition: all 0.1s ease-in-out;
	border-radius: 0.35rem;
	background-color: rgba(255, 255, 255, 1);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.2s ease;
	outline: none;
}

h1 {
	color: #89907c;
	transition: var(--transition-1);
}

h1>a {
	text-decoration: none;
	color: #89907c;
}

h1>a::-moz-selection {
	color: #89907c;
}

h1>a::selection {
	color: #89907c;
}

h4 {
	margin-bottom: 5px;
	color: #89907c;
}

h4::-moz-selection {
	color: #89907c;
}

h4::selection {
	color: #89907c;
}

.mode {
	margin-top: 20px;
}

.toggle {
	display: flex;
	border: 1px solid #89907c;
	height: 35px;
	width: 120px;
	border-radius: 50px;
	justify-content: flex-start;
	align-content: center;
	transition: var(--transition-2);
}

.toggler {
	display: grid;
	cursor: pointer;
	background-color: #89907c;
	color: #fff;
	height: 25px;
	width: 60px;
	border-radius: 50px;
	margin: 5px;
	text-align: center;
	align-content: center;
	align-self: flex-start;
	transition: var(--transition-2);
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
}

.toggler:hover {
	width: 65px;
	background-color: #89907c;
}

.toggler::-moz-selection {
	color: #fff;
}

.toggler::selection {
	color: #fff;
}

.strict {
	display: inline;
}

.loose {
	display: inline;
}

.selection {
	margin-top: 25vh;
	font-size: 2rem;
	font-weight: bold;
	color: #89907c;
	transition: var(--transition-1);
}

#table {
	margin-top: 1vh;
	font-size: 3rem;
	color: #89907c;
	transition: var(--transition-1);
}

.selection::-moz-selection {
	color: #64ceaa;
}

.selection::selection {
	color: #64ceaa;
}

.autoComplete_wrapper {
	inline-size: 99%;
}

.autoComplete_wrapper>input {
	color: #89907c;
	border: .05rem solid #89907c;
	width: 100%;
	font-size: 1rem;
}


#autoComplete_list_1{
	max-height: 50vh;
}
@media only screen and (max-width: 600px) {
	.selection {
		margin-top: 15vh;
	}
}